:root {
    --blue: #3C81FC;
    --blue-hover: #5d97fa;
    --grey: #CCD2E3;
    --light-grey: #F4F7FB;
    --border:#E7EAF3;
    --text-color:#4E5964;
    --success:#22bb33;
    --danger:#da1e28;
    --warning:#f1c21b;
    --input-color:#C4C4C4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.select_autocomplete {
    width: 100%;
    height: 45px;
    background: none;
    margin-top: 10px;
    margin-bottom: 13px;
    outline: none !important;
}

.select_autocomplete__control{
    outline: none !important;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border) !important;
    padding-left: 10px;
}

.select_autocomplete__control:focus{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.select_autocomplete__input{
    color: var(--input-color)  !important;
}

.select_autocomplete__single-value{
    color: var(--input-color) !important;
}

.select_autocomplete__placeholder{
    color: var(--input-color) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.select_autocomplete__menu{
    font-size: 14px !important;
    color: var(--text-color) !important;
}

