:root {
    --blue: #3C81FC;
    --blue-hover: #5d97fa;
    --grey: #CCD2E3;
    --light-grey: #F4F7FB;
    --border:#E7EAF3;
    --text-color:#4E5964;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}